* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.navbar {
    display: flex;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8vw;
    padding: 0 2vw;
    background-color: rgb(58, 44, 206);
}

#b {
    font-size: 2.7vw;
    color: white;
}

.right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    list-style: none;
}

.right ul li a {
    text-decoration: none;
    color: white;
}

.right .ri-menu-3-line {
    color: white;
}

/* first section */

.firstSection {
    display: flex;
    height: 400px;
    width: 100%;
    border: 1px solid none;

    padding: 1vw 5vw;
    border-bottom: 2px solid blue;
    border-radius: 50%;
    justify-content: space-around;
}

.leftSection {
    height: 300px;
    width: 40%;
    border: 1px solid none;
    border-radius: 30%;
    font-size: 3.5vw;
    font-weight: 800px;
    padding-left: 4vw;
    padding-top: 7vw;
    color: black;
}

.leftSection span {
    color: blue;
}

.rightSection {
    height: 300px;
    width: 50%;
    border: 1px solid none;
    border-radius: 30%;
    border-radius: 30%;
    font-size: 2vw;
    font-weight: 800px;
}

.rightSection img {
    height: 350px;
    width: 100%;
    padding-left: 8vw;

}

/* About section */
.About {
    display: flex;
    padding: 1.5vw 5vw;
    height: 350px;
    width: 100%;
    border-bottom: 2px solid none;
    border-radius: 30%;
    border-radius: 30%;
    justify-content: space-around;
    align-items: center;
}

.About img {
    height: 250px;
    width: 450px;
    border: 1px solid none;
    padding: 1vw 1vw;
}

.aboutme {
    height: 300px;
    width: 50%;
    border: 1px solid none;
}

.aboutme span {
    color: blue;
}

.aboutme h2 {
    font-size: 2.3vw;
    text-align: center;
}

.aboutme p {
    font-size: 1.8vw;
    font-weight: 545;
    text-align: center;
}

/* Education */

#Education {
    height: 450px;
    width: 100%;
    font-size: 1.6vw;
    font-weight: 800;
    padding: 1vw;
    text-align: center;
    border-bottom: 2px solid none;
    border-radius: 30%;
    border-radius: 30%;
}

#Education h2 {
    font-size: 2.3vw;
    text-align: center;
}

#Education span {
    color: blue;
}

#Education #Resume button b a {
    text-decoration: none;
}

#Resume button {
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
}

#Resume span {
    color: blue;
}

/* skills */

#Skills {
    display: flex;
    justify-content: space-around;
    margin-top: 1vw;
    height: 380px;
    width: 100%;
    border-bottom: 2px solid none;
    border-radius: 30%;
    border-radius: 30%;
    font-size: 1.6vw;
    font-weight: 800;
    padding: 1vw;
    text-align: center;
}

#Skills img {
    height: 400px;
    width: 100%;
    padding-bottom: 90px;
    margin-right: 15vw;
}

.hcj {
    border: 2px solid none;
}

#Skills span {
    color: blue;
}

/* projects */

#Projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 650px;
    width: 100%;
    border: 2px solid none;
    border-radius: none;
    font-size: 1.6vw;
    font-weight: 800;
    padding-right:1vw;
    padding-top: 1vw;
    padding-bottom: 3vw;
    text-align: center;
}
 .video img{
    padding-bottom: 40px;
    border:2px solid green;
}
video{
    border:2px solid green;
}

#Projects span {
    color: blue;
}

@media only screen and(min-width:w200px) and (max-width:565px){
    #Projects ul h2 p li{
   display: flex;
    justify-content: space-around;
    height: 350px;
    width: 100%;
    border: 2px solid red;
    border-radius: none;
    font-size: 1.6vw;
    font-weight: 800;
    padding-right:1vw;
    padding-top: 1vw;
    padding-bottom: 3vw;
    text-align: center;
    }


}

/* Contact */
#Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100vw;
    border: 2px solid none;
    font-size: 20px;
    
}

#Contact form h1 span {
    color: blue;
    height: 3px;
    margin-left: 4.5vw;
    text-align: center;
    margin-top: 30px;
}

.box1 {
    height: 40px;
    width: 20vw;
    margin: 2px;
    padding-left: 8px;
    font-size: 1vw;
    font-weight: 700;
    border-radius: 5px;
}

.box2 {
    height: 80px;
    width: 20vw;
    margin: 2px;
    padding-left: 8px;
    font-size: 1vw;
    font-weight: 700;
    border-radius: 5px;
}

#Contact form button{
    font-size:18px;
    border-radius: 4px;
    padding: 2px;
    margin: 10px;
    margin-bottom: 15px;
    margin-left:7vw;
}

/* Footer */
footer {

    height: 220px;
    width: 100%;
    padding-top: 1.8vw;
    border: 2px solid none;
    font-size: 1.6vw;
    font-weight: 800;
    text-align: center;
    background-color: rgb(58, 44, 206);
    color: white;

}

footer img {
    border-radius: 50%;
}

#gmail {
    color: white;
    text-decoration: none;
}